@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,200;0,600;1,200;1,600&display=swap');

@import
  "custom",
  "bootstrap-components";

/* General */

h1 {
  color: $gray-800;
}

.alert {
  display: flex;
  align-items: center;
}

.btn {
  padding: 0.375rem 2rem;
}

.form-control {
  padding: 0.375rem 1rem;
}

/* Header */

#app-header {
  min-height: 3.75rem;
}
